body {
	font-family: Arial, sans-serif;
	background: black;
	color: #ffe066;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	padding-top: 100px;
}

h1 {
	margin: 10px;
}

.btn {
	display: inline-block;
	padding: 12px 24px;
	margin: 10px 0 50px;
	background: #ffe066;
	color: black;
	font-weight: 600;
	text-decoration: none;
	border-radius: 8px;
	transition: background 0.2s;
}

.btn:hover {
	background: #ffd54d;
}

.upload-form {
	margin: 20px;
	padding: 20px;
	border: 2px solid #ffe066;
	border-radius: 10px;
	background: #1a1a1a;
	max-width: 500px;
	width: 100%;
}

.upload-form h3 {
	color: #ffe066;
	margin-top: 0;
	text-align: center;
}

input[type="file"] {
	margin-bottom: 15px;
	padding: 8px;
	width: 95%;
	background: #333;
	color: #ffe066;
	border: 1px solid #666;
	border-radius: 4px;
}

textarea {
	width: 95%;
	padding: 8px;
	background: #333;
	color: #ffe066;
	border: 1px solid #666;
	border-radius: 4px;
	resize: vertical;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #ffe066;
	font-weight: bold;
}

.upload-btn {
	background: #ffe066;
	color: black;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	width: 100%;
}

.upload-btn:hover {
	background: #4cf0e3;
}

.info {
	background: #2d2d2d;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 12px;
	color: #ccc;
}

.download {
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
	padding: 20px;
	border: 2px solid #ffe066;
	border-radius: 10px;
	background: #1a1a1a;
	max-width: 500px;
	width: 100%;
	gap: 12px;
}

.download a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.download a:last-child {
	margin-bottom: 0;
}

.delete {
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
	padding: 20px;
	border: 2px solid #ffe066;
	border-radius: 10px;
	background: #1a1a1a;
	max-width: 500px;
	width: 100%;
}

#filetable {
	width: 100%;
	border-collapse: collapse;
	color: #fff;
	font-size: 16px;
}

#filetable tr {
	border-bottom: 1px solid #333;
}


#filetable td {
	padding: 12px 8px;
}

#filetable td:first-child {
	width: 70%;
	text-align: center;
}

.del-btn {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
	background: #ff4d4d;
	border: none;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
}

.del-btn:hover {
	background: #e63939;
}